// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$light-gray: #F4F4F4;

// Our colors:
$dark-blue: #0781B2;
$light-blue: #57D4D6;
$dark-green: #00A896;
$light-green: #02C39A;
$gray: #353535;
