// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:500,700|Quicksand:300,400,500');

// Define fonts for body and headers
$body-font: "Quicksand", "Helvetica", "sans-serif";
// $headers-font: "Maven Pro", "Helvetica", "sans-serif";

@font-face {
  font-family: "Cunia";
  src: font-url('Cunia/Cunia.ttf') format('truetype');
  font-weight: normal;
 }

 $my-headers-font: "Cunia";
 $headers-font: $my-headers-font;

