<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="title-box">
        <h1 class="text-center">Select a Worker</h1>
      </div>

      <div class=" form form-inline text-center">
        <%= simple_form_for @worker, method: :get do |f| %>

            <h4>
              SEARCH BY
                <%= f.input :last_name, label: false, prompt:'LAST NAME', :collection => @last_names, input_html: { class: 'select2' } %>
              OR
                <%= f.input :status, label: false, prompt:'STATUS', :collection => @status, input_html: { class: 'select2' } %>
                <%= button_tag type: 'submit', class: "submit-form-button form-control" do %>
                  <i class="fas fa-search"></i> Search
                <% end %>
            </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
