<div class="container">
  <div class="row">
    <div class="title-box">
      <h1 class="text-center">Select a Worker</h1>
    </div>

    <div class="col-xs-12">
      <form class="search" action="/workers" accept-charset="UTF-8" method="get">
        <input type="text" placeholder="Search.." name="query" id="query" class="form-control">
        <button type="submit" class="form-control"><i class="fa fa-search"></i></button>
      </form>
    </div>

    <div class="col-xs-12">
      <ul class="list-unstyled space-workers">
        <% @workers.each_with_index do |worker, index| %>
          <li>
            <%= link_to edit_worker_path(worker), class: "edit-button" do %>
              <i class="fas fa-user-md"></i> <%= index + 1 %> | <%= worker.details %> <i class="fas fa-pencil-alt"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>


  </div>
</div>
