.legende {
  color: $light-gray;
  width: 130px;
  padding: 10px 0px;
}

.unassigned {
  background-color: #469AE0;
}

.medic {
  background-color: #f1572b;
}

.intern {
  background-color: #EBCC47;
}

.interim {
  background-color: #32B796;
}
