* {
  box-sizing: border-box;
}

/* Style the search field */
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  margin-bottom: 20px;
}

/* Style the submit button */
form.search button {
  float: left;
  width: 10%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.search button:hover {
  color: #F1572B;
  background-color: #F6D446;
  transition: all 0.3s ease-in-out;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}
